@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0px;
    padding: 0px;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-parimary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border-style: none;
    padding: 20px 25px;
}
/* dark-02 */
.text-gray-color{
    color: rgb(66, 66, 66);
}
/* dark-03 */
.text-light-gray-color{
    color: rgb(114, 114, 114);
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
/* header styles */

/* navbar related styles */

.navbar{
   justify-content: space-between;
   align-items: center;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.section-taitles{
    font-weight: 700;
    font-size: 2.9rem;
}
/* banner related styles */
.banner-content{
    max-width: 862px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titles{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25PX;
}



/* main part styles */
/* features styles */
main{
    max-width: 1340px;
    margin: 0px auto;
     /* border: 2px solid hotpink; */
}
main > section{
    margin-top: 130px;
   
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}

#quick-list{
    font-weight: 500;
    color: #727272;
}
#features{
 color: #FF900E;
}
.section-description{
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
}



.fact-container{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly; */
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fact-icon{
    margin-top: 45px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsors part */

.sponsors-section{
    text-align: center;
}
.sponsors-container{
    display: flex;
    justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 80px;
}
.sponsors-container img{
   filter: grayscale(100%);
}
footer{
    width: 1340px;
    margin: 0px auto;
}
.footer-description{
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
    color: #424242;
    padding: 30px 300px 30px 300px;
    background-color: rgb(255, 244, 231);
    border-radius: 10px;
    /* height: 100px; */
    margin-bottom: 0px;
}





/* responsive features part */

@media screen and  (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        display: grid;
    }
    .fact-card{
     margin-bottom: 25px;
    }
    .our-features{
        text-align: center;
        margin-left: 0px;
    }
    .section-taitles, .section-description{
        text-align: center;
    }
    .sponsors-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .sponsors-container img{
        margin-bottom: 45px;
        width: 40%;
    }
    footer{
        width: 100%;
       
    }
    .footer-description{
             padding: 20px;
    }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px){
    

    .teams{
        /* flex-direction: column; */
       flex-direction: column-reverse;
    }
    .our-features{
        text-align: center;
        margin-left: 0px;
        margin-bottom: 25px;
    }
    .banner{
        margin-bottom: -80px;
    }
    .team-img-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-taitles, .section-description{
        text-align: center;
    }
    .fact-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* border: 2px solid darkorange; */
        width: 650px;
        margin: 0px auto;
    }
    .fact-card{
        margin: 10px auto;
        
    }
    .sponsors-container{
        /* display: grid;
        grid-template-columns: repeat(5, 1fr);
        border: 2px solid hotpink; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
        
    }
    .sponsors-container img{
        /* margin-bottom: 45px; */
        width: 15%;
    }
    footer{
        width: 100%;
       
    }
    .footer-description{
             padding: 20px;
    }
    
}